body {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  margin: 0;
}
::selection {
  background-color: none;
  color: blue;
}
h1 {
  font-size: 30px;
}
.header {
  display: flex;
  background-image: url(images/background.jpeg);
}
.half-width {
  width: 50%;
  text-align: justify;
  padding: 50px 40px;
}
.half-width img {
  width: 80%;
}
span {
  color: rgb(255, 53, 17);
}
.link-btn {
  color: white;
  background-image: linear-gradient(rgb(255, 51, 16), #ff6352);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 15px;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}
.cards img {
  width: 80%;
  display: block;
  margin: 0px auto;
}
.card {
  width: 50%;
  box-shadow: 5px 5px 20px #888888;
  padding: 40px;
  margin: 2%;
}
.card p {
  text-align: justify;
}
.marketing {
  display: flex;
  margin: 40px 0px;
}
.offer-sec {
  width: 50%;
}
.offer-sec img {
  display: block;
  margin: 0px auto;
}
.offer-sec input {
  margin-bottom: 30px;
}
