body {
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
  margin: 0;
}
::selection {
  background-color: none;
  color: blue;
}
h1 {
  font-size: 30px;
}
.title {
  display: flex;
  background-color: aliceblue;
  justify-content: space-between;
  padding: 30px 0px;
  position: sticky;
  top: 0px;
}
.title-left {
  margin-left: 3%;
}
.title img {
  width: 7%;
}
.title h2 {
  display: inline;
}
.title h2:hover {
  color: rgb(255, 53, 17);
}
.title div a {
  text-decoration: none;
  margin-right: 45px;
}
.title div a:visited {
  color: blue;
}
.header {
  display: flex;
  background-image: url(images/background.jpeg);
}
.half-width {
  width: 50%;
  text-align: justify;
  padding: 50px 40px;
}
.half-width img {
  width: 80%;
}
span {
  color: rgb(255, 53, 17);
}
.link-btn {
  color: white;
  background-image: linear-gradient(rgb(255, 51, 16), #ff6352);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 15px;
  transition: 0.5s;
}
.link-btn:hover {
  padding: 12px 30px;
  font-weight: 700;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin: 5%;
}
.cards img {
  width: 80%;
  display: block;
  margin: 0px auto;
}
.card {
  width: 50%;
  box-shadow: 5px 5px 20px #888888;
  padding: 40px;
  margin: 2%;
}
.card p {
  text-align: justify;
}
.marketing {
  display: flex;
  margin: 40px 0px;
}
.offer-sec {
  width: 50%;
}
.offer-sec img {
  display: block;
  margin: 0px auto;
}
.offer-sec input {
  margin-bottom: 30px;
}
.email:focus {
  color: blue;
}
.about {
  display: flex;
  margin: 30px 0px;
}
.chef img {
  display: block;
  margin: 0px auto;
  border-left: 5px solid rgb(255, 53, 17);
  border-radius: 12px;
}
.followers {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 1px 1px 5px #888888;
  margin: 40px 200px;
  padding: 20px 10px;
  border-radius: 20px;
}
footer {
  text-align: center;
  margin: 50px 0px 40px 0px;
}
